@model AssembleThePicture.Models.ViewModels.Authorization.LoginViewModel
<div class="wrapper">
    <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
    <div class="form-box login">
        <h2>login</h2>
        <form asp-antiforgery="true" asp-action="Login" asp-controller="Home" method="post">
            <div class="register-error-message">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <input asp-for="Name" required>
                <label asp-for="Name"></label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input asp-for="Password" required>
                <label asp-for="Password"></label>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
        </form>
    </div>
    @{
        await Html.RenderPartialAsync("Register");
    }
</div>